### Mean-Shift Clustering

Mean shift clustering is a sliding-window-based algorithm that attempts to find dense areas of data points. It is a centroid-based algorithm meaning that the goal is to locate the center points of each group/class, which works by updating candidates for center points to be the mean of the points within the sliding-window. These candidate windows are then filtered in a post-processing stage to eliminate near-duplicates, forming the final set of center points and their corresponding groups.

In [1]:
#Loading Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings; warnings.simplefilter('ignore')
from sklearn.preprocessing import StandardScaler
%matplotlib inline

In [2]:
#Gathering Data
credit = pd.read_csv(r"/home/seckindinc/Desktop/Github/Python/Data-Sets/Risk.txt",sep=",",index_col=False)

In [3]:
#First 5 Rows of Data
credit.head()

,ID,AGE,INCOME,GENDER,MARITAL,NUMKIDS,NUMCARDS,HOWPAID,MORTGAGE,STORECAR,LOANS,RISK
0,100756,44,59944,m,married,1,2,monthly,y,2,0,good risk
1,100668,35,59692,m,married,1,1,monthly,y,1,0,bad loss
2,100418,34,59508,m,married,1,1,monthly,y,2,1,good risk
3,100416,34,59463,m,married,0,2,monthly,y,1,1,bad loss
4,100590,39,59393,f,married,0,2,monthly,y,1,0,good risk

In [4]:
#Selecting Numeric Fields To Be Used In Modelling
X = credit[['AGE','INCOME','NUMKIDS','NUMCARDS','LOANS']]

In [5]:
#Loading Min Max Scaling and Creating New Data Frame
scaler = StandardScaler()
X_normalized = pd.DataFrame(scaler.fit_transform(X))

In [6]:
#Assining Column Names
X_normalized.columns = ['AGE','INCOME','NUMKIDS','NUMCARDS','LOANS']

In [7]:
from sklearn.cluster import MeanShift, estimate_bandwidth

ms = MeanShift(bin_seeding=True)
ms.fit(X_normalized)
labels = ms.labels_
cluster_centers = ms.cluster_centers_

labels_unique = np.unique(labels)
n_clusters_ = len(labels_unique)

print("number of estimated clusters : %d" % n_clusters_)

number of estimated clusters : 2