In [1]:
#Loading library
import numpy as np
import pandas as pd

### Series

In [3]:
#Pandas has "series" and "data frame" objects. Data frames are created via series.
series_object = pd.Series([10,20,30])
print(series_object)
print('')
print(type(series_object))

0    10
1    20
2    30
dtype: int64

<class 'pandas.core.series.Series'>

In [8]:
#Series has value and index
print('Printing values: ',series_object.values)
print('Printing indexes: ',series_object.index)

Printing values:  [10 20 30]
Printing indexes:  RangeIndex(start=0, stop=3, step=1)

In [17]:
#Series slicing - 1:
series_object.loc[0]

10

In [18]:
#Series slicing - 2:
series_object.loc[1:]

1    20
2    30
dtype: int64

In [21]:
#Calling series object with index value. As seen index values does not have to be in order or numeric or string.
series_object_with_index = pd.Series([10,20,30],index=[1000,25000,'a'])
print(series_object_with_index['a'])

30

### DataFrame

In [2]:
#Creating data frame via series objects 
x = pd.Series({'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5})
y = pd.Series({'A': 6, 'B': 7, 'C': 8, 'D': 9, 'E': 10})
df = pd.DataFrame({'C1':x, 'C2':y})
print(df)

   C1  C2
A   1   6
B   2   7
C   3   8
D   4   9
E   5  10

In [ ]:
#To gather column names of dataframe
list(df)

In [ ]:
#Row number in dataframe
df.count()

In [69]:
#Data Frame Slicing - 1: Slicing first column of data frame
df['C1']

A    1
B    2
C    3
D    4
E    5
Name: C1, dtype: int64

In [71]:
#Data Frame Slicing - 2: Slicing first row of data frame
df.values[0]

array([1, 6])

In [72]:
#Data Frame Slicing - 3: First 3 rows and 2 columns or slicing row index up to 3 and column index up to 2
#iloc is used for position indexing
data.iloc[:3, :2]

   area  pop
A     1    6
B     2    7
C     3    8

In [75]:
#Data Frame Slicing - 4: Label index including up to C and columns up to C2
#loc is used for label indexing
df.loc[:'C', :'C2']

   C1  C2
A   1   6
B   2   7
C   3   8

In [76]:
#Data Frame Slicing - 5: Conditional slicing
df[df['C1']>2]['C2']

C     8
D     9
E    10
Name: C2, dtype: int64

In [81]:
#Data Frame Slicing - 6: Complex conditional slicing
df[((df['C1']>2) & (df['C1']<10)) | ((df['C1'] < 2) & (df['C2'] > 100))]['C2']

C     8
D     9
E    10
Name: C2, dtype: int64

In [85]:
#Data Frame Slicing - 7: Label based indexing
df['A':'C']

   C1  C2
A   1   6
B   2   7
C   3   8

In [86]:
#Data Frame Slicing - 8: Label based indexing
df.loc['A':'C']

   C1  C2
A   1   6
B   2   7
C   3   8

In [83]:
#Data Frame Slicing - 9: Position based indexing
df[0:3]

   C1  C2
A   1   6
B   2   7
C   3   8

In [84]:
#Data Frame Slicing - 10: Position based indexing
df.iloc[0:3]

   C1  C2
A   1   6
B   2   7
C   3   8

In [92]:
#Operations with Data Frames
print('Multiplying data frame')
print(np.multiply(df,2))
print('\nLets check type of the result\n')
type(np.multiply(df,2))
print('Subtracting from data frame')
print(np.subtract(df,2))

Multiplying data frame
   C1  C2
A   2  12
B   4  14
C   6  16
D   8  18
E  10  20

Lets check type of the result

Subtracting from data frame
   C1  C2
A  -1   4
B   0   5
C   1   6
D   2   7
E   3   8

In [12]:
#Deleting by an index
df.drop('B',axis=0)

   C1  C2
A   1   6
C   3   8
D   4   9
E   5  10

In [13]:
#Deleting multiple index
df.drop(['B','C'],axis=0)

   C1  C2
A   1   6
D   4   9
E   5  10

In [24]:
df[(df['C1'] > 0) | (df['C1'] > 0)]

   C1  C2
A   1   6
B   2   7
C   3   8
D   4   9
E   5  10

In [16]:
#Deleting by a column
df.drop('C1',axis=1)

   C2
A   6
B   7
C   8
D   9
E  10

In [26]:
#Replacing values based on conditions
df.replace(df[(df['C1'] > 8) | (df['C2'] > 8)],0)

   C1  C2
A   1   6
B   2   7
C   3   8
D   0   0
E   0   0

### Missing Data in DataFrame

In [105]:
#Missing Data Dilemma
#I am copying data frame in order to not change existing one and updating new one
df_missing = df.copy()
df_missing.iloc[0] = np.nan
print(df_missing)
print(df)

    C1    C2
A  NaN   NaN
B  2.0   7.0
C  3.0   8.0
D  4.0   9.0
E  5.0  10.0
   C1  C2
A   1   6
B   2   7
C   3   8
D   4   9
E   5  10

In [113]:
#Checking missing data
df_missing.isnull()

      C1     C2
A   True   True
B  False  False
C  False  False
D  False  False
E  False  False

In [116]:
#Sum of elements
print('Sum of elements:\n',np.nansum(df))
print('Sum of non missing elements:\n',np.nansum(df_missing))

Sum of elements:
 55
Sum of non missing elements:
 48.0

In [130]:
#Deleting missing rows
df_missing.dropna()

    C1    C2
B  2.0   7.0
C  3.0   8.0
D  4.0   9.0
E  5.0  10.0

In [132]:
#Filling missing data
df_missing.fillna(99)

     C1    C2
A  99.0  99.0
B   2.0   7.0
C   3.0   8.0
D   4.0   9.0
E   5.0  10.0

### Concat in DataFrame

In [134]:
#Creating arrays
A = [1,2,3]
B = [4,5,6]
print(np.concatenate([A,B]))

[1 2 3 4 5 6]

In [149]:
#Creating series
X = pd.Series([1,2,3],index=['A','B','C'])
Y = pd.Series([4,5,6],index=['A','B','C'])
print('Numpy concat:\n')
print(np.concatenate([X,Y]))
print('\n')
print(type(np.concatenate([X,Y])))
print('\n')
print('Pandas concat:\n')
print(pd.concat([X,Y]))
print('\n')
print(type(pd.concat([X,Y])))
print('\n')

Numpy concat:

[1 2 3 4 5 6]


<class 'numpy.ndarray'>


Pandas concat:

A    1
B    2
C    3
A    4
B    5
C    6
dtype: int64


<class 'pandas.core.series.Series'>

In [151]:
#Creating data frame
df = pd.DataFrame({'C1':X, 'C2':Y})
print(df)
print(type(df))

   C1  C2
A   1   4
B   2   5
C   3   6
<class 'pandas.core.frame.DataFrame'>

In [155]:
#Creating new data frames via old one
print('Same of the old one\n')
df_1 = df.copy()
print(df_1,'\n')
print('Multiplying the old one with 2\n')
df_2 = (df*2).copy()
print(df_2,'\n')

Same of the old one

   C1  C2
A   1   4
B   2   5
C   3   6

Multiplying the old one with 2

   C1  C2
A   2   8
B   4  10
C   6  12

In [159]:
#Appending DataFrames - 1: Same size and label
#Here concat is inserting second dataframe to first dataframes. This is default behaviour of pandas concat
print(pd.concat([df_1, df_2]))

   C1  C2
A   1   4
B   2   5
C   3   6
A   2   8
B   4  10
C   6  12

In [161]:
#Appending DataFrames - 2: Same size and label
#We can change inserting behaviour. Default axis=0 which is row. We changed it to axis=2
print(pd.concat([df_1, df_2],axis=1))

   C1  C2  C1  C2
A   1   4   2   8
B   2   5   4  10
C   3   6   6  12

In [166]:
#Appending DataFrames - 3: Indexing problem
#For row concat there becomes a repeating index problem
print('Original concat\n')
print(pd.concat([df_1, df_2]))
print('')
#In order to solve this problem we must ignore original indexes
print('Concat with ignoring index')
print(pd.concat([df_1, df_2], ignore_index=True))
print('')

Original concat

   C1  C2
A   1   4
B   2   5
C   3   6
A   2   8
B   4  10
C   6  12

Concat with ignoring index
   C1  C2
0   1   4
1   2   5
2   3   6
3   2   8
4   4  10
5   6  12

### Join and Merge in DataFrame

In [182]:
#Join and Merge in DataFrame - 1:
#Changing column names for join
df_2.columns = ['C3','C4']
print('New df_2:',df_2)
print('')
print('Original concat produces NaN values because of different columns\n')
print(pd.concat([df_1, df_2]))
print('')
print('Using default join:')
print('')
print(pd.concat([df_1, df_2],join='outer'))
print('')
print('Default join is outer as seen above')

New df_2:    C3  C4
A   2   8
B   4  10
C   6  12

Original concat produces NaN values because of different columns

    C1   C2   C3    C4
A  1.0  4.0  NaN   NaN
B  2.0  5.0  NaN   NaN
C  3.0  6.0  NaN   NaN
A  NaN  NaN  2.0   8.0
B  NaN  NaN  4.0  10.0
C  NaN  NaN  6.0  12.0

Using default join:

    C1   C2   C3    C4
A  1.0  4.0  NaN   NaN
B  2.0  5.0  NaN   NaN
C  3.0  6.0  NaN   NaN
A  NaN  NaN  2.0   8.0
B  NaN  NaN  4.0  10.0
C  NaN  NaN  6.0  12.0

Default join is outer as seen above

In [191]:
#Join and Merge in DataFrame - 2:
#Creating efficient data set for join
df_personel_group = pd.DataFrame({'personel': ['A', 'B', 'C', 'D'],
                                  'department': ['X', 'Y', 'Y', 'Z']})
df_personel_age = pd.DataFrame({'personel': ['A', 'B', 'C', 'D'],'age': [40, 20, 30, 60]})

In [187]:
#Displaying DataFrames
print(df_personel_group)
print(df_personel_age)

  department personel
0          X        A
1          Y        B
2          Y        C
3          Z        D
   age personel
0   40        A
1   20        B
2   30        C
3   60        D

In [188]:
#Merging DataFrames using inner join on key column(One-toone)
pd.merge(df_personel_group,df_personel_age,how='inner',on='personel')

  department personel  age
0          X        A   40
1          Y        B   20
2          Y        C   30
3          Z        D   60

In [205]:
#Join and Merge in DataFrame - 3:
#Adding rows to df_personel_age
df_new_personel = pd.DataFrame({'personel':['E','F','G'],'age':[40,25,30]})
df_personel_age = pd.concat([df_personel_age, df_new_personel], ignore_index=True)

In [212]:
#One to Many Joins
print(pd.merge(df_personel_group,df_personel_age,how='inner',on='personel'))
print(pd.merge(df_personel_age,df_personel_group,how='inner',on='personel'))
print(pd.merge(df_personel_age,df_personel_group,how='outer',on='personel'))
print(pd.merge(df_personel_age,df_personel_group,how='outer',left_on='personel',right_on='personel'))

  department personel  age
0          X        A   40
1          Y        B   20
2          Y        C   30
3          Z        D   60
   age personel department
0   40        A          X
1   20        B          Y
2   30        C          Y
3   60        D          Z
   age personel department
0   40        A          X
1   20        B          Y
2   30        C          Y
3   60        D          Z
4   40        E        NaN
5   25        F        NaN
6   30        G        NaN
   age personel department
0   40        A          X
1   20        B          Y
2   30        C          Y
3   60        D          Z
4   40        E        NaN
5   25        F        NaN
6   30        G        NaN

### Aggregation and Grouping

In [3]:
#Gathering Data
credit = pd.read_csv(r"E:/Github/Python/Data-Sets/Risk.txt",sep=",",index_col=False)

In [4]:
#First couple rows
credit.head()

,ID,AGE,INCOME,GENDER,MARITAL,NUMKIDS,NUMCARDS,HOWPAID,MORTGAGE,STORECAR,LOANS,RISK
0,100756,44,59944,m,married,1,2,monthly,y,2,0,good risk
1,100668,35,59692,m,married,1,1,monthly,y,1,0,bad loss
2,100418,34,59508,m,married,1,1,monthly,y,2,1,good risk
3,100416,34,59463,m,married,0,2,monthly,y,1,1,bad loss
4,100590,39,59393,f,married,0,2,monthly,y,1,0,good risk

In [220]:
#Aggregate -1: Basics
print('Sum of Age column:\n',credit['AGE'].sum())
print('Average of Age column:\n',credit['AGE'].mean())

Sum of Age column:
 131001
Average of Age column:
 31.819528783094487

In [240]:
#Aggregate -2: Descriptive Statistics
credit.groupby('MORTGAGE')['AGE'].describe().unstack()

       MORTGAGE
count  n            917.000000
       y           3200.000000
mean   n             33.593239
       y             31.311250
std    n             10.477845
       y              9.639322
min    n             20.000000
       y             18.000000
25%    n             23.000000
       y             22.000000
50%    n             33.000000
       y             30.000000
75%    n             44.000000
       y             40.000000
max    n             50.000000
       y             50.000000
dtype: float64

In [10]:
#Aggregate -3: Group bying based on a column and counting another column
print('AGE non null row counts based on MORTAGAGE class,',credit.groupby('MORTGAGE')['AGE'].count())
print('')
print('AGE non null medians based on MORTAGAGE class,',credit.groupby('MORTGAGE')['AGE'].median())

AGE non null row counts based on MORTAGAGE class, MORTGAGE
n     917
y    3200
Name: AGE, dtype: int64

AGE non null medians based on MORTAGAGE class, MORTGAGE
n    33
y    30
Name: AGE, dtype: int64

In [12]:
#Aggregate - 4: When we want to see the counts of groups 
credit['MORTGAGE'].value_counts()

pandas.core.series.Series

In [266]:
#Aggregate
credit.groupby('MORTGAGE')['AGE','INCOME'].aggregate(['min', np.median, max])

         AGE            INCOME
         min median max    min   median    max
MORTGAGE
n         20     33  50  15046  22918.0  29986
y         18     30  50  15005  23645.5  59944

In [268]:
#Transformation
credit.groupby('MORTGAGE')['AGE'].transform(lambda x: x - x.mean())

0       12.688750
1        3.688750
2        2.688750
3        2.688750
4        7.688750
5        9.688750
6       10.688750
7       -0.311250
8       -3.311250
9       -1.311250
10       6.688750
11       4.688750
12      10.688750
13      12.688750
14       1.688750
15      13.688750
16       2.688750
17       0.688750
18       3.688750
19       6.688750
20      -3.311250
21      11.688750
22       9.688750
23      11.688750
24      12.688750
25       5.688750
26       2.688750
27       1.688750
28       6.688750
29       7.688750
          ...
4087    -7.311250
4088     7.406761
4089    -4.311250
4090   -12.593239
4091    -3.593239
4092   -12.311250
4093   -10.311250
4094    -7.311250
4095    11.688750
4096     6.406761
4097     3.406761
4098   -11.593239
4099    12.406761
4100    -4.311250
4101   -11.311250
4102   -10.311250
4103   -10.311250
4104    14.406761
4105    -5.593239
4106     4.688750
4107   -12.593239
4108    -6.311250
4109   -10.311250
4110     7.406761
4111    -7.311250
4112   -11.311250
4113    -8.311250
4114    -6.311250
4115    -7.311250
4116    18.688750
Name: AGE, Length: 4117, dtype: float64

In [270]:
#Pivot Tables default creates mean
credit.pivot_table('AGE', index='MORTGAGE', columns='HOWPAID')

HOWPAID     monthly    weekly
MORTGAGE
n         24.460581  36.849112
y         31.092997  31.586572

In [4]:
#Higher Dimensions Pivot Tables default creates mean
credit.pivot_table('AGE', index=['MORTGAGE','MARITAL'], columns='HOWPAID', aggfunc='mean')

HOWPAID               monthly    weekly
MORTGAGE MARITAL
n        divsepwid        NaN  42.440171
         single     24.460581  24.269231
y        divsepwid        NaN  42.666667
         married    31.518490  28.006321
         single     29.958932  24.027397

### String Operations

In [7]:
#Creating string array
string_array = ['seckin','elif','kofte','dinc']

In [20]:
#Capitalizing every element
string_array = [s.capitalize() for s in string_array]

In [22]:
#Converting from array to pandas series object
string_array = pd.Series(string_array)

In [23]:
#Checking type
type(string_array)

pandas.core.series.Series

In [26]:
#Printing elements with no space concat
string_array.str.cat()

'SeckinElifKofteDinc'

In [27]:
#Searching string for a pattern and returning Bool
string_array.str.contains('Kof')

0    False
1    False
2     True
3    False
dtype: bool

In [30]:
#Lpad and Rpad at the same time with centralizing element
string_array.str.center(20,'0')

0    0000000Seckin0000000
1    00000000Elif00000000
2    0000000Kofte00000000
3    00000000Dinc00000000
dtype: object

In [35]:
#Return lowest indexes in each strings in the Series/Index where the substring is fully contained between
string_array.str.find('te')

0   -1
1   -1
2    3
3   -1
dtype: int64

In [32]:
#Length of each element in the series object
string_array.str.len()

0    6
1    4
2    5
3    4
dtype: int64

In [18]:
#Splitting text field based on seperator
text = '2018/03/02/16'

Year = text.split('/')[0]
print(Year)
Month = text.split('/')[1]
print(Month)
Day = text.split('/')[2]
print(Day)
Hour = text.split('/')[3]
print(Hour)

2018
03
02
16

In [19]:
#Creating data frame via series objects 
x = pd.Series({'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5})
y = pd.Series({'A': 6, 'B': 7, 'C': 8, 'D': 9, 'E': 10})
z = pd.Series({'A': 11, 'B': 12, 'C': 13, 'D': 14, 'E': 15})
df = pd.DataFrame({'C1':x, 'C2':y, 'C3':z})
print(df)

   C1  C2  C3
A   1   6  11
B   2   7  12
C   3   8  13
D   4   9  14
E   5  10  15

In [24]:
#Creating individual data frames in a dictionary based on values of a data frame column
myDict = {}
for a in np.sort(df['C1'].unique()):
    myDict['dt_'+str(a)] = (df[df['C1'] == a])

print(myDict['dt_1'])
print('')
print(myDict['dt_2'])
print('')
print(myDict['dt_3'])
print('')
print(myDict['dt_4'])
print('')
print(myDict['dt_5'])
print('')

   C1  C2  C3
A   1   6  11

   C1  C2  C3
B   2   7  12

   C1  C2  C3
C   3   8  13

   C1  C2  C3
D   4   9  14

   C1  C2  C3
E   5  10  15

In [27]:
#Renaming data frame column
df = df.rename(index=str, columns={"C1": "C4"})
print(df)

In [32]:
#Sorting data frame column in place in descending order
df.sort_values(['C4'],inplace=True,ascending=False)
df

In [37]:
#Converting subnet to possible ip addresses
import ipaddress

result = pd.DataFrame()
net4 = ipaddress.ip_network('125.100.8.0/22')
for x in net4.hosts():
    print(x)

125.100.8.1
125.100.8.2
125.100.8.3
125.100.8.4
125.100.8.5
125.100.8.6
125.100.8.7
125.100.8.8
125.100.8.9
125.100.8.10
125.100.8.11
125.100.8.12
125.100.8.13
125.100.8.14
125.100.8.15
125.100.8.16
125.100.8.17
125.100.8.18
125.100.8.19
125.100.8.20
125.100.8.21
125.100.8.22
125.100.8.23
125.100.8.24
125.100.8.25
125.100.8.26
125.100.8.27
125.100.8.28
125.100.8.29
125.100.8.30
125.100.8.31
125.100.8.32
125.100.8.33
125.100.8.34
125.100.8.35
125.100.8.36
125.100.8.37
125.100.8.38
125.100.8.39
125.100.8.40
125.100.8.41
125.100.8.42
125.100.8.43
125.100.8.44
125.100.8.45
125.100.8.46
125.100.8.47
125.100.8.48
125.100.8.49
125.100.8.50
125.100.8.51
125.100.8.52
125.100.8.53
125.100.8.54
125.100.8.55
125.100.8.56
125.100.8.57
125.100.8.58
125.100.8.59
125.100.8.60
125.100.8.61
125.100.8.62
125.100.8.63
125.100.8.64
125.100.8.65
125.100.8.66
125.100.8.67
125.100.8.68
125.100.8.69
125.100.8.70
125.100.8.71
125.100.8.72
125.100.8.73
125.100.8.74
125.100.8.75
125.100.8.76
125.100.8.77
125.100.8.78
125.100.8.79
125.100.8.80
125.100.8.81
125.100.8.82
125.100.8.83
125.100.8.84
125.100.8.85
125.100.8.86
125.100.8.87
125.100.8.88
125.100.8.89
125.100.8.90
125.100.8.91
125.100.8.92
125.100.8.93
125.100.8.94
125.100.8.95
125.100.8.96
125.100.8.97
125.100.8.98
125.100.8.99
125.100.8.100
125.100.8.101
125.100.8.102
125.100.8.103
125.100.8.104
125.100.8.105
125.100.8.106
125.100.8.107
125.100.8.108
125.100.8.109
125.100.8.110
125.100.8.111
125.100.8.112
125.100.8.113
125.100.8.114
125.100.8.115
125.100.8.116
125.100.8.117
125.100.8.118
125.100.8.119
125.100.8.120
125.100.8.121
125.100.8.122
125.100.8.123
125.100.8.124
125.100.8.125
125.100.8.126
125.100.8.127
125.100.8.128
125.100.8.129
125.100.8.130
125.100.8.131
125.100.8.132
125.100.8.133
125.100.8.134
125.100.8.135
125.100.8.136
125.100.8.137
125.100.8.138
125.100.8.139
125.100.8.140
125.100.8.141
125.100.8.142
125.100.8.143
125.100.8.144
125.100.8.145
125.100.8.146
125.100.8.147
125.100.8.148
125.100.8.149
125.100.8.150
125.100.8.151
125.100.8.152
125.100.8.153
125.100.8.154
125.100.8.155
125.100.8.156
125.100.8.157
125.100.8.158
125.100.8.159
125.100.8.160
125.100.8.161
125.100.8.162
125.100.8.163
125.100.8.164
125.100.8.165
125.100.8.166
125.100.8.167
125.100.8.168
125.100.8.169
125.100.8.170
125.100.8.171
125.100.8.172
125.100.8.173
125.100.8.174
125.100.8.175
125.100.8.176
125.100.8.177
125.100.8.178
125.100.8.179
125.100.8.180
125.100.8.181
125.100.8.182
125.100.8.183
125.100.8.184
125.100.8.185
125.100.8.186
125.100.8.187
125.100.8.188
125.100.8.189
125.100.8.190
125.100.8.191
125.100.8.192
125.100.8.193
125.100.8.194
125.100.8.195
125.100.8.196
125.100.8.197
125.100.8.198
125.100.8.199
125.100.8.200
125.100.8.201
125.100.8.202
125.100.8.203
125.100.8.204
125.100.8.205
125.100.8.206
125.100.8.207
125.100.8.208
125.100.8.209
125.100.8.210
125.100.8.211
125.100.8.212
125.100.8.213
125.100.8.214
125.100.8.215
125.100.8.216
125.100.8.217
125.100.8.218
125.100.8.219
125.100.8.220
125.100.8.221
125.100.8.222
125.100.8.223
125.100.8.224
125.100.8.225
125.100.8.226
125.100.8.227
125.100.8.228
125.100.8.229
125.100.8.230
125.100.8.231
125.100.8.232
125.100.8.233
125.100.8.234
125.100.8.235
125.100.8.236
125.100.8.237
125.100.8.238
125.100.8.239
125.100.8.240
125.100.8.241
125.100.8.242
125.100.8.243
125.100.8.244
125.100.8.245
125.100.8.246
125.100.8.247
125.100.8.248
125.100.8.249
125.100.8.250
125.100.8.251
125.100.8.252
125.100.8.253
125.100.8.254
125.100.8.255
125.100.9.0
125.100.9.1
125.100.9.2
125.100.9.3
125.100.9.4
125.100.9.5
125.100.9.6
125.100.9.7
125.100.9.8
125.100.9.9
125.100.9.10
125.100.9.11
125.100.9.12
125.100.9.13
125.100.9.14
125.100.9.15
125.100.9.16
125.100.9.17
125.100.9.18
125.100.9.19
125.100.9.20
125.100.9.21
125.100.9.22
125.100.9.23
125.100.9.24
125.100.9.25
125.100.9.26
125.100.9.27
125.100.9.28
125.100.9.29
125.100.9.30
125.100.9.31
125.100.9.32
125.100.9.33
125.100.9.34
125.100.9.35
125.100.9.36
125.100.9.37
125.100.9.38
125.100.9.39
125.100.9.40
125.100.9.41
125.100.9.42
125.100.9.43
125.100.9.44
125.100.9.45
125.100.9.46
125.100.9.47
125.100.9.48
125.100.9.49
125.100.9.50
125.100.9.51
125.100.9.52
125.100.9.53
125.100.9.54
125.100.9.55
125.100.9.56
125.100.9.57
125.100.9.58
125.100.9.59
125.100.9.60
125.100.9.61
125.100.9.62
125.100.9.63
125.100.9.64
125.100.9.65
125.100.9.66
125.100.9.67
125.100.9.68
125.100.9.69
125.100.9.70
125.100.9.71
125.100.9.72
125.100.9.73
125.100.9.74
125.100.9.75
125.100.9.76
125.100.9.77
125.100.9.78
125.100.9.79
125.100.9.80
125.100.9.81
125.100.9.82
125.100.9.83
125.100.9.84
125.100.9.85
125.100.9.86
125.100.9.87
125.100.9.88
125.100.9.89
125.100.9.90
125.100.9.91
125.100.9.92
125.100.9.93
125.100.9.94
125.100.9.95
125.100.9.96
125.100.9.97
125.100.9.98
125.100.9.99
125.100.9.100
125.100.9.101
125.100.9.102
125.100.9.103
125.100.9.104
125.100.9.105
125.100.9.106
125.100.9.107
125.100.9.108
125.100.9.109
125.100.9.110
125.100.9.111
125.100.9.112
125.100.9.113
125.100.9.114
125.100.9.115
125.100.9.116
125.100.9.117
125.100.9.118
125.100.9.119
125.100.9.120
125.100.9.121
125.100.9.122
125.100.9.123
125.100.9.124
125.100.9.125
125.100.9.126
125.100.9.127
125.100.9.128
125.100.9.129
125.100.9.130
125.100.9.131
125.100.9.132
125.100.9.133
125.100.9.134
125.100.9.135
125.100.9.136
125.100.9.137
125.100.9.138
125.100.9.139
125.100.9.140
125.100.9.141
125.100.9.142
125.100.9.143
125.100.9.144
125.100.9.145
125.100.9.146
125.100.9.147
125.100.9.148
125.100.9.149
125.100.9.150
125.100.9.151
125.100.9.152
125.100.9.153
125.100.9.154
125.100.9.155
125.100.9.156
125.100.9.157
125.100.9.158
125.100.9.159
125.100.9.160
125.100.9.161
125.100.9.162
125.100.9.163
125.100.9.164
125.100.9.165
125.100.9.166
125.100.9.167
125.100.9.168
125.100.9.169
125.100.9.170
125.100.9.171
125.100.9.172
125.100.9.173
125.100.9.174
125.100.9.175
125.100.9.176
125.100.9.177
125.100.9.178
125.100.9.179
125.100.9.180
125.100.9.181
125.100.9.182
125.100.9.183
125.100.9.184
125.100.9.185
125.100.9.186
125.100.9.187
125.100.9.188
125.100.9.189
125.100.9.190
125.100.9.191
125.100.9.192
125.100.9.193
125.100.9.194
125.100.9.195
125.100.9.196
125.100.9.197
125.100.9.198
125.100.9.199
125.100.9.200
125.100.9.201
125.100.9.202
125.100.9.203
125.100.9.204
125.100.9.205
125.100.9.206
125.100.9.207
125.100.9.208
125.100.9.209
125.100.9.210
125.100.9.211
125.100.9.212
125.100.9.213
125.100.9.214
125.100.9.215
125.100.9.216
125.100.9.217
125.100.9.218
125.100.9.219
125.100.9.220
125.100.9.221
125.100.9.222
125.100.9.223
125.100.9.224
125.100.9.225
125.100.9.226
125.100.9.227
125.100.9.228
125.100.9.229
125.100.9.230
125.100.9.231
125.100.9.232
125.100.9.233
125.100.9.234
125.100.9.235
125.100.9.236
125.100.9.237
125.100.9.238
125.100.9.239
125.100.9.240
125.100.9.241
125.100.9.242
125.100.9.243
125.100.9.244
125.100.9.245
125.100.9.246
125.100.9.247
125.100.9.248
125.100.9.249
125.100.9.250
125.100.9.251
125.100.9.252
125.100.9.253
125.100.9.254
125.100.9.255
125.100.10.0
125.100.10.1
125.100.10.2
125.100.10.3
125.100.10.4
125.100.10.5
125.100.10.6
125.100.10.7
125.100.10.8
125.100.10.9
125.100.10.10
125.100.10.11
125.100.10.12
125.100.10.13
125.100.10.14
125.100.10.15
125.100.10.16
125.100.10.17
125.100.10.18
125.100.10.19
125.100.10.20
125.100.10.21
125.100.10.22
125.100.10.23
125.100.10.24
125.100.10.25
125.100.10.26
125.100.10.27
125.100.10.28
125.100.10.29
125.100.10.30
125.100.10.31
125.100.10.32
125.100.10.33
125.100.10.34
125.100.10.35
125.100.10.36
125.100.10.37
125.100.10.38
125.100.10.39
125.100.10.40
125.100.10.41
125.100.10.42
125.100.10.43
125.100.10.44
125.100.10.45
125.100.10.46
125.100.10.47
125.100.10.48
125.100.10.49
125.100.10.50
125.100.10.51
125.100.10.52
125.100.10.53
125.100.10.54
125.100.10.55
125.100.10.56
125.100.10.57
125.100.10.58
125.100.10.59
125.100.10.60
125.100.10.61
125.100.10.62
125.100.10.63
125.100.10.64
125.100.10.65
125.100.10.66
125.100.10.67
125.100.10.68
125.100.10.69
125.100.10.70
125.100.10.71
125.100.10.72
125.100.10.73
125.100.10.74
125.100.10.75
125.100.10.76
125.100.10.77
125.100.10.78
125.100.10.79
125.100.10.80
125.100.10.81
125.100.10.82
125.100.10.83
125.100.10.84
125.100.10.85
125.100.10.86
125.100.10.87
125.100.10.88
125.100.10.89
125.100.10.90
125.100.10.91
125.100.10.92
125.100.10.93
125.100.10.94
125.100.10.95
125.100.10.96
125.100.10.97
125.100.10.98
125.100.10.99
125.100.10.100
125.100.10.101
125.100.10.102
125.100.10.103
125.100.10.104
125.100.10.105
125.100.10.106
125.100.10.107
125.100.10.108
125.100.10.109
125.100.10.110
125.100.10.111
125.100.10.112
125.100.10.113
125.100.10.114
125.100.10.115
125.100.10.116
125.100.10.117
125.100.10.118
125.100.10.119
125.100.10.120
125.100.10.121
125.100.10.122
125.100.10.123
125.100.10.124
125.100.10.125
125.100.10.126
125.100.10.127
125.100.10.128
125.100.10.129
125.100.10.130
125.100.10.131
125.100.10.132
125.100.10.133
125.100.10.134
125.100.10.135
125.100.10.136
125.100.10.137
125.100.10.138
125.100.10.139
125.100.10.140
125.100.10.141
125.100.10.142
125.100.10.143
125.100.10.144
125.100.10.145
125.100.10.146
125.100.10.147
125.100.10.148
125.100.10.149
125.100.10.150
125.100.10.151
125.100.10.152
125.100.10.153
125.100.10.154
125.100.10.155
125.100.10.156
125.100.10.157
125.100.10.158
125.100.10.159
125.100.10.160
125.100.10.161
125.100.10.162
125.100.10.163
125.100.10.164
125.100.10.165
125.100.10.166
125.100.10.167
125.100.10.168
125.100.10.169
125.100.10.170
125.100.10.171
125.100.10.172
125.100.10.173
125.100.10.174
125.100.10.175
125.100.10.176
125.100.10.177
125.100.10.178
125.100.10.179
125.100.10.180
125.100.10.181
125.100.10.182
125.100.10.183
125.100.10.184
125.100.10.185
125.100.10.186
125.100.10.187
125.100.10.188
125.100.10.189
125.100.10.190
125.100.10.191
125.100.10.192
125.100.10.193
125.100.10.194
125.100.10.195
125.100.10.196
125.100.10.197
125.100.10.198
125.100.10.199
125.100.10.200
125.100.10.201
125.100.10.202
125.100.10.203
125.100.10.204
125.100.10.205
125.100.10.206
125.100.10.207
125.100.10.208
125.100.10.209
125.100.10.210
125.100.10.211
125.100.10.212
125.100.10.213
125.100.10.214
125.100.10.215
125.100.10.216
125.100.10.217
125.100.10.218
125.100.10.219
125.100.10.220
125.100.10.221
125.100.10.222
125.100.10.223
125.100.10.224
125.100.10.225
125.100.10.226
125.100.10.227
125.100.10.228
125.100.10.229
125.100.10.230
125.100.10.231
125.100.10.232
125.100.10.233
125.100.10.234
125.100.10.235
125.100.10.236
125.100.10.237
125.100.10.238
125.100.10.239
125.100.10.240
125.100.10.241
125.100.10.242
125.100.10.243
125.100.10.244
125.100.10.245
125.100.10.246
125.100.10.247
125.100.10.248
125.100.10.249
125.100.10.250
125.100.10.251
125.100.10.252
125.100.10.253
125.100.10.254
125.100.10.255
125.100.11.0
125.100.11.1
125.100.11.2
125.100.11.3
125.100.11.4
125.100.11.5
125.100.11.6
125.100.11.7
125.100.11.8
125.100.11.9
125.100.11.10
125.100.11.11
125.100.11.12
125.100.11.13
125.100.11.14
125.100.11.15
125.100.11.16
125.100.11.17
125.100.11.18
125.100.11.19
125.100.11.20
125.100.11.21
125.100.11.22
125.100.11.23
125.100.11.24
125.100.11.25
125.100.11.26
125.100.11.27
125.100.11.28
125.100.11.29
125.100.11.30
125.100.11.31
125.100.11.32
125.100.11.33
125.100.11.34
125.100.11.35
125.100.11.36
125.100.11.37
125.100.11.38
125.100.11.39
125.100.11.40
125.100.11.41
125.100.11.42
125.100.11.43
125.100.11.44
125.100.11.45
125.100.11.46
125.100.11.47
125.100.11.48
125.100.11.49
125.100.11.50
125.100.11.51
125.100.11.52
125.100.11.53
125.100.11.54
125.100.11.55
125.100.11.56
125.100.11.57
125.100.11.58
125.100.11.59
125.100.11.60
125.100.11.61
125.100.11.62
125.100.11.63
125.100.11.64
125.100.11.65
125.100.11.66
125.100.11.67
125.100.11.68
125.100.11.69
125.100.11.70
125.100.11.71
125.100.11.72
125.100.11.73
125.100.11.74
125.100.11.75
125.100.11.76
125.100.11.77
125.100.11.78
125.100.11.79
125.100.11.80
125.100.11.81
125.100.11.82
125.100.11.83
125.100.11.84
125.100.11.85
125.100.11.86
125.100.11.87
125.100.11.88
125.100.11.89
125.100.11.90
125.100.11.91
125.100.11.92
125.100.11.93
125.100.11.94
125.100.11.95
125.100.11.96
125.100.11.97
125.100.11.98
125.100.11.99
125.100.11.100
125.100.11.101
125.100.11.102
125.100.11.103
125.100.11.104
125.100.11.105
125.100.11.106
125.100.11.107
125.100.11.108
125.100.11.109
125.100.11.110
125.100.11.111
125.100.11.112
125.100.11.113
125.100.11.114
125.100.11.115
125.100.11.116
125.100.11.117
125.100.11.118
125.100.11.119
125.100.11.120
125.100.11.121
125.100.11.122
125.100.11.123
125.100.11.124
125.100.11.125
125.100.11.126
125.100.11.127
125.100.11.128
125.100.11.129
125.100.11.130
125.100.11.131
125.100.11.132
125.100.11.133
125.100.11.134
125.100.11.135
125.100.11.136
125.100.11.137
125.100.11.138
125.100.11.139
125.100.11.140
125.100.11.141
125.100.11.142
125.100.11.143
125.100.11.144
125.100.11.145
125.100.11.146
125.100.11.147
125.100.11.148
125.100.11.149
125.100.11.150
125.100.11.151
125.100.11.152
125.100.11.153
125.100.11.154
125.100.11.155
125.100.11.156
125.100.11.157
125.100.11.158
125.100.11.159
125.100.11.160
125.100.11.161
125.100.11.162
125.100.11.163
125.100.11.164
125.100.11.165
125.100.11.166
125.100.11.167
125.100.11.168
125.100.11.169
125.100.11.170
125.100.11.171
125.100.11.172
125.100.11.173
125.100.11.174
125.100.11.175
125.100.11.176
125.100.11.177
125.100.11.178
125.100.11.179
125.100.11.180
125.100.11.181
125.100.11.182
125.100.11.183
125.100.11.184
125.100.11.185
125.100.11.186
125.100.11.187
125.100.11.188
125.100.11.189
125.100.11.190
125.100.11.191
125.100.11.192
125.100.11.193
125.100.11.194
125.100.11.195
125.100.11.196
125.100.11.197
125.100.11.198
125.100.11.199
125.100.11.200
125.100.11.201
125.100.11.202
125.100.11.203
125.100.11.204
125.100.11.205
125.100.11.206
125.100.11.207
125.100.11.208
125.100.11.209
125.100.11.210
125.100.11.211
125.100.11.212
125.100.11.213
125.100.11.214
125.100.11.215
125.100.11.216
125.100.11.217
125.100.11.218
125.100.11.219
125.100.11.220
125.100.11.221
125.100.11.222
125.100.11.223
125.100.11.224
125.100.11.225
125.100.11.226
125.100.11.227
125.100.11.228
125.100.11.229
125.100.11.230
125.100.11.231
125.100.11.232
125.100.11.233
125.100.11.234
125.100.11.235
125.100.11.236
125.100.11.237
125.100.11.238
125.100.11.239
125.100.11.240
125.100.11.241
125.100.11.242
125.100.11.243
125.100.11.244
125.100.11.245
125.100.11.246
125.100.11.247
125.100.11.248
125.100.11.249
125.100.11.250
125.100.11.251
125.100.11.252
125.100.11.253
125.100.11.254